.title {
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px #d60e0e, 0 0 20px #e00b0b, 0 0 30px #431cdd, 0 0 40px #431cdd,
    0 0 50px #431cdd, 0 0 60px #431cdd, 0 0 70px #431cdd;
}

.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  max-width: 400px;
  margin: 15px;
  height: auto;
  width: 80%;
}

.movieImage {
  border-radius: 15px;
}

.movieDetails {
  font-size: 1.5rem;
}

.firstItem {
  margin-top: 0;
}
