.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
}

/* Agrega estilos para centrar los botones y aplicar el esquema de color */
.buttonContainer {
  text-align: center;
  margin-top: 20px;
}

.buttonContainer button {
  background-color: black;
  color: red;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

@media (max-width: 560px) {
  .moviesGrid {
    grid-template-columns: 100%;
  }
}

